<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <!--  styles  -->
    {% include "share/style.html" %}

    <!--  fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">

</head>
<body>
    {% include "layouts/header.html" %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% include "layouts/footer.html" %}

    {% include "share/js.html" %}
</body>
</html>
