<div class="global-header">
    <div class="container">
        <div class="top-header">
            <div class="brand-logo">
                <a href="/">LIM. v1</a>
            </div>
            <div>
                <div class="link-cart">
                    <a href="/cart" class="trigger-cart">
                        <div></div>
                        <div class="cart-count">
                            0
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
